<!DOCTYPE html>
<html
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.w3.org/2000/xhtml ">


<head>
    <title>Pizzeria Cafe</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<h1>Design Your Pizza</h1>
<img th:src="@{/images/pizza.jpg}"/>

<form th:object="${pizza}" method="post">
        <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
        <div class="ingredient-group" id="dough">
            <h3>Pick Your Dough</h3>
            <div th:each="ingredient : ${dough}">
                <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="meat">
            <h3>Pick Your Meat</h3>
            <div th:each="ingredient : ${meat}">
                <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <div class="ingredient-group" id="veggetables">
            <h3>Pick Your Veggetables</h3>
            <div th:each="ingredient : ${veggetables}">
                <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">INGREDIENT</span><br/>
            </div>
        </div>
        <input type="text" th:field="*{name}">
        <button>Создай Пиццу</button>
    </div>
</form>
</body>

</html>